
*.lastbuildstate
*.tlog
*.ipch
*.opendb
*.db
.vs/GranadoEspadaHelper/v16/.suo
x64/Release/vc142.pdb
x64/Release/pch.obj
x64/Release/GranadoEspadaHelperDlg.obj
x64/Release/GranadoEspadaHelper.res
x64/Release/GranadoEspadaHelper.pdb
x64/Release/GranadoEspadaHelper.pch
x64/Release/GranadoEspadaHelper.obj
x64/Release/GranadoEspadaHelper.log
x64/Release/GranadoEspadaHelper.ipdb
x64/Release/GranadoEspadaHelper.iobj
x64/Release/GranadoEspadaHelper.exe
Debug/vc142.pdb
Debug/vc142.idb
Debug/pch.obj
Debug/GranadoEspadaHelperDlg.obj
Debug/GranadoEspadaHelper.res
Debug/GranadoEspadaHelper.pdb
Debug/GranadoEspadaHelper.pch
Debug/GranadoEspadaHelper.obj
Debug/GranadoEspadaHelper.log
